body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/pexels-cmonphotography-1809644.jpg'); /* Tvoja slika */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
