.lightbulb-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lightbulb-icon {
  cursor: pointer;
  margin-top: 20px;
}

.slider-container {
  margin-top: 10px;
}

.brightness-slider {
  width: 100%;
  margin-top: 5px;
}
