/* Stilovi za pozadinu */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../assets/pexels-cmonphotography-1809644.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Kontejner za login */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  /* Glass efekat za login karticu */
  .login-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
  }
  
  .login-card h2 {
    color: #fff;
  }
  
  /* Stilovi za dugmad i inpute */
  .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
  
  .form-control:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .btn-primary {
    background-color: #39384a;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  