.temperature-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.temperature-display {
  font-size: 1.5rem;  /* Povećaj veličinu teksta ako je potrebno */
  margin-bottom: 5px;
}

.thermostat-card{
  width: 230px;
}